<html>
  <body>
    <p> Welcome to NoteStore </p>

    <form action='/notes', method='POST'>
      Text: <br>
      <input type="text" name="text">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
